#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec1 sec2 sec3 sec4 sec5 sec6'
    'ft ft ft ft' ;
    margin: auti;
    gap: 5px;
    background-color: #3F1410; 
}