/* Denna fil skall innehålla din CSS kod */
#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec sec sec sec'
    'ft ft ft ft' ;
    margin: auto;
    gap: 5px;
    background-color: #d7b7b3; 
    grid-template-rows: 3fr 0.75fr 5fr 5fr 1fr;
    border-radius: 2px; 
    padding: 5px
}
    
header {
    grid-area: hd;
    background-color: #e74c3c;
    text-align: center;
    padding: 10px;
    font-size: 115px;
}

#menyikon {
    height: 85px;
    position: absolute;
    right: 3%;

}

nav {
    grid-area: nv;
    background-color: #e74c3c;
}

.nav {
    width: 10px rgb(255, 255, 255);
    display: flex;
    align-items: stretch;   
}

.nav div { 
    width: 340px;
    height: 60px;
    background-color: none;
    border-radius: 5px;
    text-align: center;
    line-height: 55px;
}   

section {
    grid-area: sec;
    background-image: url("../img/gym.jpg");
    text-align: center;
    color: white;
    text-decoration: 10px; 
    padding: 115px;
    font-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    grid-area: ft;
    background-color: #e74c3c;   
    text-align: 100px;
    line-height: 55px;
}

#appikon {
    height: 120px;
    position: absolute;
    left: 3%;
}