/* Denna fil skall innehålla din CSS kod */
#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec sec sec sec'
    'ft ft ft ft' ;
    margin: auto;
    gap: 5px;
    background-color:  #3F1410; 
    grid-template-rows: 3fr 0.75fr 5fr 5fr 1fr;
    padding: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: dashed;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
    
header {
    grid-area: hd;
    background-color: #AF3A2D;
    text-align: center;
    padding: 10px;
    font-size: 115px;
    color: #3F1410;
    font-weight: 600;
}   

#menyikon {
    height: 130px;
    position: absolute;
    right: 3%;
    margin: 0px;
    padding: 0px;
}

nav {
    grid-area: nv;
    background-color: #e74c3c;
    align-items: stretch;
    font-size: 15px;
}

#sökikon {
    height: 45px;
    position: absolute;
    left: 3%;
    margin: 6px;
}

.nav {
    width: 10px rgb(255, 255, 255);
    display: flex;
    align-items: stretch;
    color: #ffffff;
}

.nav div { 
    width: 340px;
    height: 60px;
    background-color: none;
    text-align: center;
    line-height: 55px;
}   

#startsec {
    grid-area: sec;
    background-image: url("../img/gym.jpg");
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: 10px; 
    padding: 115px;
    font-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: #3F1410;
    -webkit-text-stroke: 4px #3F1410;
}

footer {
    grid-area: ft;
    background-color: #e74c3c;   
    text-align: 100px; 
    line-height: 30px;
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
} 

#logga {
    height: 135px;  
    position: absolute;     
    left: 3%;
    padding-top: 0px;
}

#cardWrapper {
    display: flex; 
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    justify-content: center;
}

#cards {    
    grid-area: sec;
    width: 200px;
    height: 400px;
    border: 3px solid #e74c3c;
    display: flex;

    margin: auto;

}

#food {
  
}

