/* Denna fil skall innehålla din CSS kod */
#container {
    display: grid;
    height: 100vh;
    grid-template-areas: 
    'hd hd hd hd'
    'nv nv nv nv'
    'sec sec sec sec'
    'sec sec sec sec'
    'ft ft ft ft' ;
    margin: auto;
    gap: 5px;
    background-color:  #3F1410; 
    grid-template-rows: 3fr 0.75fr 5fr 5fr 1fr;
    padding: 5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: dashed;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}
    
header {
    grid-area: hd;
    background-color: #AF3A2D;
    text-align: center;
    padding: 10px;
    font-size: 115px;
    color: #3F1410;
    font-weight: 600;
}   

#menyikon {
    height: 130px;
    position: absolute;
    right: 3%;
    margin: 0px;
    padding: 0px;
}

nav {
    grid-area: nv;
    background-color: #e74c3c;
    align-items: stretch;
    font-size: 15px;
}

#sökikon {
    height: 45px;
    position: absolute;
    left: 3%;
    margin: 6px;
}

.nav {
    width: 10px rgb(255, 255, 255);
    display: flex;
    align-items: stretch;
    color: #ffffff;
}

.nav div { 
    width: 340px;
    height: 60px;
    background-color: none;
    text-align: center;
    line-height: 55px;
}   

#halso {
    grid-area: sec;
    display: flex;
}

#startsec {
    grid-area: sec;
    background-image: url("../img/gym.jpg");
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: 10px; 
    padding: 95px;
    font-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: #3F1410;
    -webkit-text-stroke: 4px #3F1410;
}

footer {
    grid-area: ft;
    background-color: #e74c3c;   
    text-align: 100px; 
    line-height: 30px;
    padding: 15px;
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
} 

#logga {
    height: 135px;  
    position: absolute;     
    left: 3%;
    padding-top: 0px;
}

#mat {
  width: 100x;
  height: 300px;
  margin: center;
  display: flex;
  flex-direction: row;
  border: 3px solid #e74c3c;  
  gap: 10px;
}

.matbild {
    font-size: 25px;
    padding: 40px;
    display: flex;
    gap: 200px;
    margin: center;
    justify-content: center 
}

#food {
    text-align: center;
    color: #ffffff;
    padding: 3px;
    font-size: 25px;
    margin: center;
    
}



#gåmednu {
    grid-area: sec;
    background-image: url("../img/fyverkerier.jpg");
    font-weight: 600;
    text-align: center;
    color: white;
    text-decoration: 10px; 
    padding: 140px;
    font-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: #3F1410;
    -webkit-text-stroke: 4px #3F1410;
}

textarea {     
    text-align: center;
    grid-area: ft;
    background-color: #157132;   
    text-align: 100px; 
    line-height: 15px;
    font-size: 32px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;       
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 150px;
    height: 15px;
}          

#footerbackground {
    padding: 3px;
}

#sec1 {
    display: flex;
    text-align: center;
    padding: 40px;
    gap: 200px;
    margin: center;
    justify-content: center 
}

.cardWrapper {
    display: flex;
    gap: 33px;
    flex-wrap: nowrap;  
    margin: 20px auto;
    background-size: cover;
    justify-content: center
}

.card:hover {
    height: 325px;
    width: 225px;
    filter: grayscale();
}

.card {
    border: 3px solid #e74c3c;
    width: 230px;
    height: 330px;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 20px;
    display: flex;
    margin: 8px;
    padding: 1px;
    justify-content: center;
    color: #ffffff;
    font-size: 28px;
    text-shadow: 0px 0px 30px#be3e30;
    -webkit-text-stroke: 1px #e74c3c;
}

.card1 {
    background-image: url("../img/tung\ styrketräning.jpg");
}

.card2 {
    background-image: url("../img/dumbbell\ programm.jpg");
}

.card3 {
    background-image: url("../img/kondition.jpg")
}

.card4 {
    background-image: url("../img/pilates.jpg");
}

.card5 {
    background-image: url("../img/PT\ träning.jpg");
}

